/target/
node/
node_modules/
dist/bundle.js
npm-debug.log
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

src/main/resources/static/js/bundle.js
/dependency-reduced-pom.xml
