.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.imagesquare {
  background: #fff;
  border: 1px solid #999;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 75px;
}

.emptysquare {
  background: #fff;
  border: 1px solid #999;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 75px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.square:focus {
  outline: none;
}

.hint {
  height: 25px;
  padding: 0;
  width: 25px;
}

.kingdom {
  text-align: center;
}

.squares-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

.tile {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
}

.stage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tiles-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
