.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 75px;
  position: relative;
}

.landscape {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.hint {
  height: 33%;
  width: 33%;
  position: absolute;
}

.dir-north {
  top: 0;
  left: 33%;
  background: #f00;
}

.dir-west {
  top: 33%;
  left: 0;
  background: #0f0;
  position: absolute;
}

.dir-east {
  top: 33%;
  left: 67%;
  background: #00f;
  position: absolute;
}

.dir-south {
  top: 67%;
  left: 33%;
  background: #ff4;
  position: absolute;
}

.kingdom {
  text-align: center;
}

.squares-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

.tile {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
}

.stage {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tiles-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
